<div class="container">
  <div class="row">
    <h2 class="text-center">Add a New Job</h2>

<%= render 'form', job: @job %>
    <div class="col-sm-offset-4 col-sm-4">
      <br>
      <br>
      <%= link_to 'Back', jobs_path, class: 'btn btn-warning btn-lg btn-block' %>
    </div>
  </div>
</div>
