<div class="container">
  <div class="row">
<h2 class="text-center">Add a New Company</h2>

<%= render 'form', company: @company %>

    <div class="col-sm-offset-4 col-sm-4">
      <br>
      <br>
<%= link_to 'Back', companies_path, class: 'btn btn-warning btn-lg btn-block' %>
  </div>
</div>
</div>